<nav class="nav navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if(user){%>
        <li><a href="/chat">Chat</a></li>
        <%}%>
    </ul>
    <ul class="nav navbar-nav navbar-nav navbar-right">
        <% if(user){%>
        <li><a href="" onclick="$('<form method=POST action=logout>').submit();return false;">Logout</a></li>
        <% }else{%>
            <li><a href="/login" >Sign in/up</a></li>
        <% } %>
    </ul>
</nav>