<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= blocks.title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js" ></script>
</head>
<body>
    <header>
        <%- blocks.header %>
    </header>
    <section class="container">

<%- include ../partials/topNav.ejs%>

        <h1><%= blocks.title %></h1>
        <%- body %>
    </section>
    <footer>
        <%- include ../partials/footer.ejs%>
    </footer>
</body>
</html>