<% layout('layouts/layout') %>
<% block('title', 'Chat') %>
<p>Welcome <%= user.get('username') %>  </p>
<script src="/bower_components/socket.io-client/socket.io.js"></script>

<div id="room">
    <span id="status_message"></span>
    <ul class="list-unstyled"></ul>
    <form >
        <input class="form-control" autocomplete="off" autofocus placeholder="Message..." id="message_input" >
    </form>
</div>

<script>
    var input = $('#room input');
    var ul = $('#room ul');
    var form = $('#room form');

    var socket = io.connect('', {
        reconnect: false
    });

    socket
            .on('message', function(username, message) {
                printMessage(username + "> " + message);
            })
            .on('leave', function(username) {
                printStatus(username + " left");
            })
            .on('join', function(username) {
                printStatus(username + " joined");
            })
            .on('connect', function() {
                printStatus("connection established");
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('disconnect', function() {
                printStatus("connection lost");
                form.off('submit', sendMessage);
                input.prop('disabled', true);
                this.emit('error');
            })
            .on('logout', function() {
                location.href = "/";
            })
            .on('error', function(reason) {
                if (reason == "handshake unauthorized") {
                    printStatus("You came out of the site");
                } else {
                    setTimeout(function() {
                        socket.connect();
                    }, 500);
                }
            });

    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function() {
            printMessage("me > " + text);
        });

        input.val('');
        return false;
    }

    function printStatus(status) {
        $('#status_message').text('');
        $('#status_message').text(status);
    }

    function printMessage(text) {
        $('<li>').text(text).appendTo(ul);
    }

</script>