<% layout('/layouts/layout') %>
<% block('title', 'Login') %>
<p>Enter your credentials</p>
<p>If you are not registered your profile will be created.</p>
<form class="form-horizontal login-form"
      name="login-forms"
      method="POST"
      id="login-form"
        >
    <div class="form-group">
        <label for="input-username" calss="col-lg-2 control-label">Username</label>
        <div class="col-lg-offset-2 col-lg-10">
            <input type="text"
                   name="username"
                   class="form-control"
                   value="username"
                   id="input-username"
                   placeholder="Username"
                    />
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" calss="col-lg-2 control-label">Password</label>
        <div class="col-lg-offset-2 col-lg-10">
            <input type="password"
                   name="password"
                   class="form-control"
                   value="pass"
                   id="input-password"
                   placeholder="Password"
                    />
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-primary" data-loading-text="Sending...">Enter</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>
<script>
    $('#login-form').on('submit', function(e){
        e.preventDefault();

        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button('loading');

        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function(){
                $(":submit", form).button('reset');
            },
            statusCode: {
                200: function(){
                    form.html("Successfully entered").addClass('alert-success');
                    window.location.href = "/chat";
                },
                403: function(jqXHR){
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                },
                500: function(err){
                    console.log(err);
                }
            }
        });
        return false;
    });
</script>